* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.title {
  font: 4em "Ubuntu", sans-serif;
  margin: 0.2em;
  background-color: #838282;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.playerDisplay {
  color: white;
  height: 2em;
  width: 12.5em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font: 1.2em "Open-Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  position: relative;
}

.gameContainer {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  row-gap: 0.55em;
  column-gap: 0.55em;
  margin: 1em;
  padding: 0.5em;
  border: 0.5em solid #e5e5e5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gameContainer div {
  height: 5em;
  width: 5em;
  background-color: #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font: 1em "Open Sans", sans-serif;
}

.gameContainer div p {
  font: 4em "Ubuntu", sans-serif;
}
.resultContainer {
  visibility: hidden;
  z-index: 1;
  width: 16.1em;
  height: 16.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -18.1em;
  left: 2em;
  background-color: rgba(255, 255, 255, 0.4);
}

.playAgain {
  outline: none;
  border: none;
  background: #8d8d8d;
  border-radius: 25px;
  height: 4em;
  width: 10em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font: 2em bolder "Open Sans", sans-serif;
}
